registry=https://registry.npmjs.org/
always-auth=true

@tuvsud:registry=https://pkgs.dev.azure.com/tuvsud01/1ef6e60b-e4cb-4e84-9f50-6f30c159198e/_packaging/DesignSystem/npm/registry/
//pkgs.dev.azure.com/tuvsud01/1ef6e60b-e4cb-4e84-9f50-6f30c159198e/_packaging/DesignSystem/npm/registry/:_authToken=${AZURE_NPM_TOKEN}

//registry.figma.com/npm/47b70d29-1b38-4307-bc23-1c0fda0d77f3/registry/:_authToken=${FIGMA_NPM_TOKEN}
@tuvsud-figma:registry=https://registry.figma.com/npm/47b70d29-1b38-4307-bc23-1c0fda0d77f3/registry/